:root{
    --accent-colour: #b72270;
    --backdrop-colour: white;
    --alternate-background-colour: #f2f2f2;
    --inset-padding: 10vw;
    --content-width-unit: 30em;
    --img-height: 50em;
    --row-element-gap: 2em;
    font-family: 'Space Grotesk',Helvetica,Arial,Lucida,sans-serif;
}

html, body {
    margin: 0;
    background-color: var(--accent-colour);
}

header, #content{
    background-color: var(--backdrop-colour);
}

header, #content > .rowContainer, footer{
    width: 100vw - 2 * var(--inset-padding);
    padding: 0 var(--inset-padding);
}

#aiButton{
    transition: 0.4s all;
    display: none;
    position: fixed;
    bottom: 2em;
    right: 3em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid var(--accent-colour);
    background-color: white;
}

#aiButton:hover{
    background-color: var(--accent-colour);
    color: white;
}

#headerBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6em;
    padding: 2em;
}

.headerImg{
    display: block;
}

img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.imageFlaunt{
    flex-grow: 2;
    min-width: min( var(--content-width-unit), 100%);
}

#navbar{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding-bottom: .4em;
    border-bottom: 1px var(--accent-colour) solid;
    margin: auto;
    overflow-x: scroll;
}

#navbar > a,  #reportsNav, #dropdown > a{
    transition: .4s all;
    text-decoration: none;
    color: #666666e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#navbar > a:hover, #reportsNav:hover, #dropdown > a:hover{
    color: var(--accent-colour);
}

#dropdown > a{
    padding: .5em;
}

#navbar > a.onpage{
    color: var(--accent-colour);
}

#reportsNav{
    cursor: default;
    position: relative;
}

#dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 .4em .4em 0 rgba(0, 0, 0, 0.2);
    top: 100%;
    left: 0;
}



#reportsNav:hover #dropdown{
    display: flex;
}

h1, h2{
    color: var(--accent-colour);
    line-height: 1.1em;
    margin: .1em;
}

h1{
    font-weight: 700;
    font-size: 1.4em;
}

h2{
    font-weight: 400;
    padding-bottom: 1.5em;
    font-size: 1.2em;
}
h3{
    font-size: 1.1em;
}

p {
    font-family: Open Sans,Arial,sans-serif;
    margin: 0;
    padding-bottom: 1em;
    color: #666;
}


#content{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.rowContainer {
    padding-top: .6em;
    padding-bottom: .2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--row-element-gap);
}

#content > .rowContainer:nth-of-type(even) {
    background-color: var(--alternate-background-colour);
}

#content > .rowContainer{
    min-height: 12rem;
    padding-bottom: 2em;
    padding-top: 2em;
}

.divider{
    background-color: var(--accent-colour);
    height: 1px;
    border: none;
    width: 80%;
}

.profilePic{
    height: 10em;
    width: 10em;
    border-radius: 1.5em;
}

.contentContainer{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.clamp {
    max-width: var(--content-width-unit);
}


.contentDuo{
    flex-basis: min(var(--content-width-unit), 100%);
}

.simpleFlex{
    display: flex;
}

.buttonLink{
    min-width: 6em;
    width: fit-content;
    padding: .3em;
    border-radius: 1em;
    border: none;
    background-color: transparent;
    outline: .15em solid var(--accent-colour);
    color: var(--accent-colour);
    font-size: .8em;
    cursor: pointer;
    transition: .4s all;
    text-decoration: none;
    text-align: center;
    margin-bottom: 2em;
}

.buttonLink:hover{
    background-color: var(--accent-colour);
    color: white;
}

.reportLink{
    width: 8em;
    height: 8em;
    padding: .5em;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

footer{
    padding-bottom: .05em;
    padding-top: .05em;
    font-size: 1em;
    background-color: var(--accent-colour);
}

footer > p{
    color: white;
    padding-bottom: 0;
}